* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
    position: relative;
}

.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}