.showTodo {
    height: 80%;
    width: 100%;
    background-color: rgb(96, 92, 95);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.new {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(120, 120, 120);
    color: white;
    border-radius: 5px;
}

.new button {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(130, 5, 5);
    border-radius: 30px;
    padding: 10px;
}

.new button:hover {
    cursor: pointer;
    background-color: rgb(174, 160, 160);

}